{% extends 'base.html' %}
<!-- base.htmlを継承 -->

{% load custom_filters %}
<!-- 他のパブリックグループのメンバーを表示するために使うカスタムフィルター -->

{% block title %}
  ホーム
{% endblock %}
<!-- タイトルブロックを定義 -->

{% block content %}
  <div class="container mt-4">
    <div class="row g-4">
    {% if user.is_authenticated %}
      {% if is_member %}
        <!-- ユーザーがグループに参加している場合の表示 -->
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <h2>グループの情報</h2>
            </div>
            <div class="card-body">
              <p>ミッション：<strong>{{ mission.mission }}</strong> </p>
              <p>グループの種類：
                <strong>
                  {% if group.is_private %}
                    プライベート
                  {% else %}
                    パブリック
                  {% endif %}
                </strong>
              </p>
              {% if group.invite_code %}
                <!-- グループがプライベートで招待コードがある場合の表示 -->
                <p>招待コード：<strong>{{ group.invite_code }}</strong></p>
              {% endif %}
            </div>
            <div class="card-footer">
              <!-- グループ離脱フォーム -->
              <form method="post" action="{% url 'group_leave' %}">
                {% csrf_token %}
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-danger">グループを離脱</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <h2>グループチャット</h2>
            </div>
            <div class="card-body">
              <!-- グループチャットの最新メッセージ表示 -->
              <h3>最新のメッセージ</h3>
              {% if latest_message %}
                <p class="card-text"><strong>{{ latest_message.sender.username }}</strong>: {{ latest_message.content }}</p>
              {% else %}
                <p class="card-text">まだメッセージがありません。</p>
              {% endif %}
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2">
                <!-- グループチャット画面へのボタン -->
                <a href="{% url 'room' user_group.id %}" class="btn btn-primary">グループチャットへ</a>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <!-- ユーザーがグループに参加していない場合の表示 -->
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <h2>グループの作成</h2>
            </div>
            <div class="card-body">
              <form id="create-group-form" method="post" action="{% url 'group_create' %}">
                {% csrf_token %}
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="is_private" name="is_private">
                  <label for="is_private" class="form-check-label"><strong>プライベートグループ</strong>（プライベートグループは招待コードを知っている人だけが参加できるグループです。）</label>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success" onclick="document.getElementById('create-group-form').submit();">作成</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <h2>グループに参加</h2>
            </div>
            <div class="card-body">
              <form id="join-group-form" method="post" action="{% url 'group_join' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="invite_code" class="form-label"><strong>招待コード</strong>（招待コードを持っている場合は入力してください。入力しない場合は、パブリックグループにランダムに参加します。）
                  </label>
                  <input type="text" class="form-control" id="invite_code" name="invite_code">
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" onclick="document.getElementById('join-group-form').submit();">参加</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <!-- 質問への回答ページへの動線 -->
      <div class="col-lg-6">
        <div class="card h-100">
          <div class="card-header">
            <h2>本日の回答</h2>
          </div>
          <div class="card-body">
            {% if has_answered_today %}
              <p>回答状況：<strong>回答済み</strong></p>
              <p>就寝時刻：<strong>{{ answer.sleep_time }}</strong></p>
              <p>起床時刻：<strong>{{ answer.wake_time }}</strong></p>
              <p>睡眠時間：<strong>{{ answer.sleep_duration }}</strong></p>
              <p>睡眠の質：<strong>{{ answer.sleep_quality }}</strong></p>
              <p>寝る前にやったこと：<strong>{{ answer.pre_sleep_activities }}</strong></p>
              {% if is_member %}
                <p>ミッション達成度：<strong>{{ answer.mission_achievement }}</strong></p>
              {% else %}
                <p>取り組みたいこと：<strong>{{ answer.topic_question }}</strong></p>
              {% endif %}
            {% else %}
              <p>回答状況：<strong>未回答</strong></p>
            {% endif %}
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2">
              <a href="{% url 'sleep_q' %}" class="btn btn-info">回答画面へ</a>
            </div>
          </div>
        </div>
      </div>
      <!-- 現在ある他のパブリックグループの一覧 -->
      <div class="col-lg-6">
        <div class="card h-100">
          <div class="card-header">
            <h2>他のパブリックグループ</h2>
          </div>
          <div class="card-body">
            <ul class="list-group">
              {% for group in groups %}
                <li class="list-group-item">
                  {% with group_mission=group_missions|get_item:group.id %}
                    ミッション：<strong>{{ group_mission.mission }}</strong> <br>
                  {% endwith %}
                  メンバー：
                  <ul>
                    {% with members=group_members|get_item:group.id %}
                      {% for member in members %}
                        <li>{{ member.user.username }}</li>
                      {% endfor %}
                    {% endwith %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% else %}
      <div class="jumbotron">
        <h1 class="display-4 mb-4">サービスの紹介</h1>
        <p class="lead">このサービスでは、あなたの睡眠習慣を改善するための様々な機能を提供しています。ログインして、詳細を確認してください。</p>
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}
<!-- コンテンツブロックを定義 -->
